<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>      
        <add name="northwind"
            connectionString="server=.;database=northwind;integrated security=true;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>